/* ------------------MOBILE------------------------- */

/* @media screen and (max-width:767px){
    
  * {
     font-size: 62.5%;
  }
} */

@media screen and (max-width: 575px) {

  #banner h1 {
    font-size: 5.2vw;
    letter-spacing: 1.2px;
  }
  
  #banner span {
    font-size: 2vw;
  }

    .navbar-box ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 2rem 0rem 2rem 4rem;
    }
    .navbar-box ul li {
      border: none;
      margin-bottom: 0.8rem;
      width: auto;
    }
  
    .navbar-box ul li a {
      font-size: 1.6rem;
    }
  
    #nav-bar .nav-center {
      display: none;
    }
  
    .hobby-icon {
      font-size: 2.8rem;
      width: 6rem;
      height: 6rem;
    }
  
    .hobby-content {
      flex-wrap: wrap;
    }
  
    .hobby-content p {
      padding: 0;
      font-size: 1.6rem;
      flex: none;
      gap: 1rem;
      margin: 0rem 0rem 2rem 0rem;
      width: 33%;
    }
  
    .icon {
      font-size: 2rem;
    }
  
    .text-title {
      font-size: 1.6rem;
    }
  
  #certificate .row .col-sm-6:first-child {
    border-bottom: solid 1px #d6c08d;
  }
  
  
    .my-3 p {
      font-size: 1.6rem;
    }
  
    .year {
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
      padding: 0.8rem 2rem;
    }
    .project-inf {
      flex-direction: column;
      padding-left: 3.8rem;
      align-items: start;
    }
    .cv {
      flex-direction: column;
      gap: 1.6rem;
      margin-left: 0;
    }
    .cv p {
      font-size: 2rem;
    }
  
    .cv i {
      font-size: 2rem;
    }
  
    #banner {
      height: 45vw;
    }
    .section-title {
      font-size: 3.2rem;
    }
  
    .project-title p {
      font-size: 1.8rem;
    }
  
    td {
      font-size: 2rem;
    }
  }
  