html{
   font-size: 62.5%;
}

*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "et-line", sans-serif;
	color: #333;
    font-size: 1.4rem;
    

  
}

.container {
 
   max-width: 119rem;
   margin: auto;
    background-color: blue;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    row-gap: 1.6rem;
    column-gap: 1.6rem;
    padding: 1.6rem;
}


.container > div {
    background-color: #f2f4fa;
    padding: 1.6rem;

}

h1 {
    color: blue;
    margin: 0 0 0.8rem 0;
    padding-bottom: 0.8rem;
    border-bottom: solid 1px #ddd;
    font-size: 2rem;
}

p{
    margin: 0;
}

.timeline {
    grid-column: 3;
    grid-row: 1/span 2;
}

table {
    width: 100%;
    border-collapse: collapse;
}


 .goals td  {
    border-bottom: solid 1px #ddd;
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
}

td {
    padding: 0.8rem;
}

.team td {
    padding: 0.8rem 0rem;
}

.goals td p:first-child, .team td p:first-child, .timeline td p:first-child  {
    color: #333;
    font-weight: 600;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    

}

.timeline td {
    border-bottom: solid 1px #ddd;
}

/* ===========================SCOPE=============== */
.in-out  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.6rem 0.8rem;
}

.in, .out {
    padding-right: 2rem;
    
}

.in p:first-child, .out p:first-child {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    
}

.in-out p {
    margin-bottom: 1rem;
    
}

/* ================================== */
.timeline td:first-child p span{
    background-color: #827bdf;
    display: inline-block;;
    color: #fff;
    border: #28227e solid 1px;
 padding: 0.8rem;
 border-radius: 50%;
 font-size: 1.6rem;
 font-weight: 300;

   
}

.timeline td:last-child {
    margin-bottom: 3.2rem;
    padding-bottom: 0.8rem;
}

.timeline td{
    padding: 0.8rem 0 1.6rem 1.6rem;
  
 
}

.timeline td:first-child p{
    margin: 0;
}